body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p {
    line-height: 1.4;
    color: #7f969e;
}

header {
    background-color: #2a2a2a;
    position: relative;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,.5);
  }

header > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px
}

header img {
  margin: 16px 0px
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  text-transform: uppercase;
  color: #d4d4d4;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 2px;
  transition: all .3s;
}

nav a:last-of-type {
  color: #FDB530;
}

header nav a:hover {
  color: white;
  }

nav a.blueBox {
  background-color: #107698;
  color: white;
}

#firstHeading {
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  text-align: center;
  height: 50px;
  padding: 70px 0;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
  color: white;
  font-weight: 300;
  text-shadow: 1px 2px 2px black;
}

section.subFirstHeading {
  background-color: white;
  padding: 54px 0;
}

section.subFirstHeading.greyBox {
  background-color: #EDEff3;
}

section.subFirstHeading h2 {
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  color: #0a465b;
  margin-bottom: 32px;
}

section.subFirstHeading > p {
  text-align: center;
  font-size: 18px;
  width: 900px;
  margin: 0 auto;
}

section.subFirstHeading p span.orangeText {
  color: orange;
}

section.headMultipleBox div.applyFlex {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
}

section.headMultipleBox article {
  width: 260px;
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 20%);
  background-color: white;
}

section.headMultipleBox article h3 {
  font-size: 30px;
  font-weight: 300;
  color: white;
  background-color: #107698;
  padding: 0 16px;
  text-transform: uppercase;
  text-align: center;
  min-height: 110px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-variant: all-small-caps;
}

section.headMultipleBox article p {
  padding: 24px 20px;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);
  border-top: 5px solid #d1d1d0;
}

section.nonMultipleBox {
  background-color: white;
}

section.nonMultipleBox div.applyFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 1150px;
  gap: 32px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

section.nonMultipleBox article {
  width:350px;
  margin-bottom: 32px;
}

section.nonMultipleBox article h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #FDB530;
  padding-bottom: 16px;
  margin-bottom: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #0a465b;
  letter-spacing: .5px;
}

section.nonMultipleBox article p {
  text-align: center;
  padding-bottom: 8px; 
}
